#content {
  align-self: center;
  color: black;
}

#contentCol {
  display: flex;
  height: 100vh;
}

#selfPic {
  margin-right: 15px;
  width: 256px;
}

@media (max-width: 959px) {
  #selfPic {
    width: 128px;
  }
}