#content {
  align-self: center;
  color: black;

  overflow-y: auto;
  max-height: 100vh;
}

#contentCol {
  display: flex;
  height: 100vh;
}

#selfPic {
  margin-right: 15px;
  width: 256px;
}

@media (max-width: 991.99px) {
  #content {
    max-height: calc(100vh - 195px);
  }
  
  #contentCol {
    height: calc(100vh - 195px);
    display: block;
  }

  #selfPic {
    width: 128px;
  }
}
