#arrowLeft {
  position: absolute;
  width: 48px;
  top: 24px;
  left: 8px;
  cursor: pointer;
  transform: rotate(180deg);
}

#arrowRight {
  position: absolute;
  width: 48px;
  top: 24px;
  right: 8px;
  cursor: pointer;
}

#carouselHeader {
  margin: 0px;

  height: 128px;
  width: 100%;

  display: flex;
  justify-content: center;
}

#carouselPips {
  margin-top: -5px;
}

#carouselPips > img {
  height: 8px;
  margin: 0px 2px;
  user-select: none;
  cursor: pointer;
}

#imageHolder {
  margin-top: 15px;
  position: relative;
}

#imageHolder > img {
  margin: 0px 5px;
  user-select: none;
}

#innerCarousel {
  background-color: black;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#innerCarousel > p {
  color: black;
  font-family: 'Roboto', cursive;
  line-height: 50%;
  margin-top: -15px;
}

#portfolio {
  padding: 0px;

  width: 100%;
}

.sideImage {
  cursor: pointer;
  height: 72px;
  opacity: 0.5;
}

.mainImage {
  height: 96px;
}

@media (max-width: 991.99px) {
  #carouselPips {
    display: none;
  }
}
