#carouselHeader {
  background-color: black;
  
  padding: 0px;
  
  height: 128px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#carouselHeader > span {
  align-self: center;
  margin: 15px;
}

#imageHolder > img {
  margin: 0px 5px;
}

#innerCarousel {
  height: 100%;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#innerCarousel > p {
  color: white;
  font-family: 'Roboto', cursive;
  line-height: 50%;
  margin-top: -15px;
}

.sideImage {
  height: 64px;
}

.mainImage {
  height: 72px;
}