#header {
  background-color: black;
  display: flex;
  height: 100vh;
  padding-right: 0px;
}

#headerLinks {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

#headerLinks > a > p {
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

#headerLinks :hover {
  color: #a9a9a9;
  text-decoration: none;
}