@keyframes expandHighlight {
  from {line-height: 100%;}
  to {line-height: 300%;}
}

#currentPage {
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  line-height: 300%;
  animation-name: expandHighlight;
  animation-duration: 0.3s;
}

#header {
  background-color: black;
  display: flex;
  height: 100vh;
  padding: 0px;
}

#headerLinks {
  align-self: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

#headerLinks > a > p {
  color: white;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#headerLinks :hover {
  color: #a9a9a9;
  text-decoration: none;
}

#socialLogos {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

#socialLogos > a > img {
  width: 24px;
  height: 24px;
}